<% if @child_title.present? && @new_child_added == true %>
	<%= @task.title %> Budget is increased by <%= @increase_budget %> $ <br>
	As <%= @child_title %> is added as new child task and has a budget of <%= @increase_budget %> $ amount
<% else %>
	<%= @task.title %> Budget is increased by <%= @increase_budget %> $ <br>
	<%= @child_title %> has a budget of <%= @increase_budget %> $ amount
<% end %>
 