The task <%= @task.title %> 's actual budget has exceeded the planned budget!



<h4>Increased By </h4>
  <%= @user.full_name %>

<h4> Logged hours </h4>
  <%= @logged_hours.to_f %>

<h4> Logged hours Details</h4>
<% @task.work_periods.each do |wp|%>
	<%=wp.created_at.strftime("%d/%m/%Y")%> <%=wp.user.full_name%> <%=wp.amount_hours.to_f%> hours <br>
<% end %>