<h3><%= header %></h3>
<div class="ui grid">
  <div class="four column row">
    <div class="left floated column timesheet-range">
      <label><b>From:</b><%= format_day_month_year(start_date) %></label>
      <label><b>To:</b><%= format_day_month_year(start_date + 13.days) %></label>
    </div>

  </div>
</div>
<table class="ui selectable inverted table">
  <thead>
  <tr>
    <th rowspan="2">Pay Item</th>
    <% timesheet_data.to_a[0][1].each do |time_set| %>
        <th rowspan="<%= time_set[0].class == String ? 2 : 1 %>"><%= format_day(time_set[0]) %></th>
    <% end %>
  </tr>
  <tr>
    <% timesheet_data.to_a[0][1].each do |time_set| %>
        <% if time_set[0].class != String %>
          <th><%= format_day_month(time_set[0]) %></th>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% timesheet_data.each do |pay_item_name, time_sets| %>
      <tr>
        <td><%= pay_item_name %></td>
        <% time_sets.each do |time_set| %>
            <td><%= time_set[1] %></td>
        <% end %>
      </tr>
  <% end %>
  </tr>
  </tbody>
</table>
