<h1>Time sheets</h1>
<br/>
<% if @unassigned_items.count > 0 %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      There are some tasks which do not have pay item at the moment
    </div>
    <p>Please make sure that you have set the task with a specific pay item. Otherwise, your hours will not be taken into account.</p>
  </div>
<% end %>
<% if timesheet_hash(current_user, @current_fortnight).empty? %>
  <h3>The time sheet cannot be shown due to:</h3>
  <ul>
    <li>
      There are no hours logged
    </li>
    <li>
      You did not choose the Pay Item for the tasks you have logged
    </li>
    <li>
      The current pay cycle has not updated yet. It will be automatically updated everyday.
    </li>
  </ul>
<% else %>
  <% current_timesheet_data = timesheet_hash(current_user, @current_fortnight) %>
  <% previous_timesheet_data = timesheet_hash(current_user, @previous_fortnight) %>
  <div class="right floated column">
    <%= link_to 'Edit Logged Hours', work_periods_path, class: 'ui primary button edit-hour-button' %>
  </div>
  <%= render partial: 'timesheet_tables', locals: { start_date: @current_fortnight, timesheet_data: current_timesheet_data, header: 'Current Timesheet' } %>
  <%= render partial: 'timesheet_tables', locals: { start_date: @previous_fortnight, timesheet_data: previous_timesheet_data, header: 'Previous Timesheet' } %>
<% end %>
