<div class="form-content centered">
  <h2>Sign up</h2>
  <%= nested_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'ui form registration-form'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="two fields">
        <div class="four wide field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class=" four wide field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, autofocus: true %>
        </div>
      </div>

      <div class="two fields">
        <div class="four wide field">
          <%= f.label :grad_job_title, 'Job Title' %>
          <%= f.select :grad_job_title, options_for_select(available_job_titles), {}, { class: 'ui search dropdown' } %>
        </div>
        <div class="four wide field">
          <%= f.label :role, 'Site Access Level' %>
          <%= f.text_field :role, value: resource.role, disabled: true %>
        </div>
      </div>

      <div class="two fields">
        <div class="four wide field">
          <%= f.label :email, 'Company Email' %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="four wide field">
          <%= f.label :second_email, 'Personal Email' %>
          <%= f.email_field :second_email %>
        </div>
      </div>

      <div class="two fields">

        <div class=" four wide field">
          <%= f.label :date_of_birth %>
          <%= f.date_field :date_of_birth, as: :date, value: f.object.date_of_birth %>
        </div>

        <div class=" four wide field">
          <%= f.label :contact_number %>
          <%= f.text_field :contact_number, as: :date, value: f.object.contact_number %>
        </div>
      </div>

      <b>Address</b>
        <%= f.fields_for :address, Address.new(user: resource) do |address| %>
            <div class=" four wide field">
              <%= address.label :street %>
              <%= address.text_field :street %>
            </div>
            <div class=" four wide field">
              <%= address.label :suburb %>
              <%= address.text_field :suburb %>
            </div>
            <div class=" four wide field">
              <%= address.label :state %>
              <%= address.select :state, options_for_select(available_states), {}, { class: 'ui search dropdown' } %>
            </div>
        <% end %>

      <div class="two fields">

        <div class=" four wide field">
          <%= f.label :grad_year, 'Year of University Graduation' %>
          <%= f.text_field :grad_year %>
        </div>

        <div class=" four wide field">
          <%= f.label :high_school %>
          <div class="ui search user-high-school">
            <%= f.text_field :high_school, class: 'prompt' %>
            <div class="results"></div>
          </div>
        </div>
      </div>

        <%= f.fields_for :user_payment, UserPayment.new(user: resource) do |payment| %>
            <div class="four wide field">
              <%= payment.label :pay_rate %>
              <%= payment.text_field :pay_rate %>
            </div>
            <div class="four wide field">
              <%= payment.label :extra_pay_rate %>
              <%= payment.text_field :extra_pay_rate %>
            </div>
        <% end %>

      <div class="two fields">

        <div class=" four wide field">
          <%= f.label :password %>
          <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class=" four wide field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="field">
          <label>Subjects Taught</label>
          <%= f.fields_for :subject_fields do |subject_field| %>
            <div class="four wide field">
              <%= subject_field.label :name %>
              <%= subject_field.select :name, options_for_select(I18n.t(:subjects).invert), {}, {class: 'ui fluid dropdown search'}%>
            </div>
            <div class="four wide field">
              <label>Acessed for Proficiency</label>
              <div class="ui fitted checkbox">
                <%= subject_field.check_box :assessed_for_proficiency%>
                <%= subject_field.label :assessed_for_proficiency, 'as' %>
              </div>
            </div>
            <div class="two wide field">
              <%= subject_field.link_to_remove 'Remove', class: 'ui tiny red button' %>
            </div>
          <% end %>
      </div>
      <%= f.link_to_add 'Add Subject', :subject_fields, class: 'ui tiny primary button' %>
      <br>
      <br>

      <%= render 'devise/shared/exam_fields', f: f %>


      <div class="eight wide field">
          <label>Connecting your Xero account</label>
          <p>
            When you sign up, HR will be contacted automatically to connect your
            Xero account to your account on the TMT.
          </p>
          <p>
            If for whatever reason, you do not want this and instead wish to contact HR manually regarding your
            Xero account, please untick the option below:
          </p>
          <div class="ui checkbox">
            <%= check_box_tag :auto_contact_hr, nil, true %>
            <%= label_tag :auto_contact_hr, "Automatically contact HR to connect my Xero account" %>
          </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'ui button' %>
      </div>
  <% end %>
  <%= render "devise/shared/links" %>

</div>
