<div class="field">
  <label>Exam Scores</label>
  <%= f.fields_for :exam_fields do |exam_field| %>
      <div class="four wide field">
        <%= exam_field.label :name %>
        <%= exam_field.select :name, options_for_select(I18n.t(:exams).invert), {}, {class: 'ui fluid dropdown search'}%>
      </div>
      <div class="four wide field">
          <label>Scores</label>
          <%= exam_field.fields_for :exam_scores do |exam_score| %>
            <div class="fields">
              <div class="field">
                <%= exam_score.label :score %>
                <%= exam_score.text_field :score%>
              </div>
              <div class="field">
                <%= exam_score.link_to_remove 'Remove', class: 'ui mini red button remove-score-btn' %>
              </div>
            </div>
          <% end %>
          <%= exam_field.link_to_add 'Add', :exam_scores, class: 'ui mini primary button add-score-btn' %>
      </div>
      <div class="two wide field">
        <%= exam_field.link_to_remove 'Remove Exam', class: 'ui tiny red button' %>
      </div>
  <% end %>
  <%= f.link_to_add 'Add Exam Score', :exam_fields, class: 'ui tiny primary button' %>
</div>