<%= simple_form_for(@wage, :html =>{ class: 'ui form'}) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :is_salary %>
  </div>
  <div class="field">
    <%= f.input :rate %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
