<p id="notice"><%= notice %></p>

<h1>Listing Wages</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Is salary</th>
      <th>Rate</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wages.each do |wage| %>
      <tr>
        <td><%= wage.is_salary %></td>
        <td><%= wage.rate %></td>
        <td><%= wage.description %></td>
        <td><%= link_to 'Show', wage %></td>
        <td><%= link_to 'Edit', edit_wage_path(wage) %></td>
        <td><%= link_to 'Destroy', wage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wage', new_wage_path %>
