<p id="notice"><%= notice %></p>

<p>
  <strong>Is salary:</strong>
  <%= @wage.is_salary %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @wage.rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wage.description %>
</p>

<%= link_to 'Edit', edit_wage_path(@wage) %> |
<%= link_to 'Back', wages_path %>
