<div class="ui modal add-time-modal">
  <i class="close icon"></i>
  <div class="header">
    Add work Period
  </div>
  <div id="time_submission_form" class="content">
  <%= simple_form_for(@work_period, :html =>{ class: 'ui equal width form'}) do |f| %>
    <%= f.text_field :task_id, hidden: true, value: task.id %>
    <div class="three fields">
            <div class="field">
                <label>Date</label>
        <%= f.text_field :date_worked, value: @today, class: 'datetimepicker' %>
            </div>
            <div class="field">
                <label>Time Worked (Hours)</label>
        <%= f.text_field :amount_hours, value: 0 %>
            </div>
      <div class="field">
        <label>Task Progress (%)</label>
        <%= f.number_field :progress, value: 0, min: 0, max: 100 %>
      </div>
    </div>
    <div class="field">
      <label>Description</label>
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
      <%= f.button_tag 'Add', class: "ui green labeled icon button", id: "submit_work_period", type:'button' %>
  </div>
  <% end %>
</div>
