<%= form_for(@task, :html =>{ class: 'ui form'}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :target_start %><br>
    <%= f.datetime_select :target_start %>
  </div>
  <div class="field">
    <%= f.label :actual_start %><br>
    <%= f.datetime_select :actual_start %>
  </div>
  <div class="field">
    <%= f.label :target_finish %><br>
    <%= f.datetime_select :target_finish %>
  </div>
  <div class="field">
    <%= f.label :actual_finish %><br>
    <%= f.datetime_select :actual_finish %>
  </div>
  <div class="field">
    <%= f.label :budgeted_cost %><br>
    <%= f.text_field :budgeted_cost %>
  </div>
  <div class="field">
    <%= f.label :actual_cost %><br>
    <%= f.text_field :actual_cost %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
    <div class="field">
      <%= f.label :parent %> <br>
      <%= f.select :parent_id, [nil] + nested_set_options(Task, @task) {|i| "#{'-' * i.level} #{i.title}" }, :html=> {class: 'ui dropdown'} %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
