<div class="content">
<%= simple_form_for(@task, :html =>{ class: 'ui equal width form error content create-task-form'}) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :parent_id, 'Parent' %>
      <div class="ui search fluid add-task-parent-chooser">
        <div class='ui icon input'>
          <%= text_field_tag :task_parent, nil,  class: 'prompt' %>
          <i class="dropdown icon"></i>
        </div>
      </div>
      <%= f.hidden_field :parent_id, value: nil %>
    </div>
    <div class="fields">
      <div class="field">
        <%= f.label :remaining_budget, 'Budget to be Allocated' %>
        <%= f.label :remaining_budget_value, '0', class: 'remaining_budget_value' %>
      </div>
      <div class="field">
        <%= f.label :pay_item %>
        <div class='ui icon input'>
            <%= select_tag :task_pay_item, options_for_select(pay_item_options),  class: 'ui search dropdown' %>
        </div>
        <!-- <div class="ui search pay-item-chooser">
          <div class='ui icon input'>
            <%= text_field_tag :task_pay_item, nil,  class: 'prompt' %>
            <i class="dropdown icon"></i>
          </div>
        </div> -->
        <%= f.simple_fields_for 'pay_item_attributes', @task do |p| %>
          <%= p.hidden_field :earnings_rate_id, value: nil %>
          <%= p.hidden_field :name, value: nil %>
        <% end %>
      </div>
    </div>
    <div class="fields">
      <div class="field">
        <%= f.label :budgeted_cost %>
        <%= f.number_field :budgeted_cost %>
      </div>
    </div>
    <div class="fields">
    <div class="field">
      <%= f.label :target_start %>
      <%= f.text_field :target_start, class: 'datetimepicker' %>
    </div>
    <div class="field">
      <%= f.label :target_finish %>
      <%= f.text_field :target_finish, class: 'datetimepicker' %>
    </div>
    </div>


    <div class="fields">
      <div class="field">
        <%= f.label :escalation_manager %>
        <%= f.select :escalation_manager, options_for_select(user_options, 1), {}, { class: 'ui search dropdown' } %>
      </div>
      <div class="field">
        <%= f.label :users, 'Members' %>
        <%= f.association :users, label: false, collection: user_options, input_html: { class: 'ui fluid search dropdown' }%>
      </div>
    </div>
    <div class="field">
      <%= f.label :colour_tcte, "Colour TC/TE in budget report" %>
      <%= f.check_box :colour_tcte %>
    </div>
<% end %>
</div>
<div class="actions">
  <button id="submit_task_form" class="ui green button">Submit</button>
</div>
