
<%= content_tag :div,class: 'item', href: task_id_path(id: task.id), :id => dom_id(task) do %>
    <a href="<%= task_id_path(id: task.id)%>"><%= task.title %></a>
    <%= content_tag :div, class: "list"  do %>
        <% for child in task.children do %>
            <%= render :partial => "tasks/tree", :locals => {:task => child }%>
        <% end %>
    <% end unless task.leaf? %>
<% end %>
