<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>
<div class="ui selection dropdown stats-dropdown">
  <div class="default text">Vital stats</div>
  <input type="hidden" name="selected-vital-stat" class="task-vital-stats">
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="due-date">Due Date</div>
    <div class="item" data-value="time-elapsed">% Time Elapsed</div>
    <div class="item" data-value="task-completion">% Task Competed</div>
    <div class="item" data-value="budget-spent">% Budget Spent</div>
    <div class="item" data-value="task-budget-ratio">% Task Completed : % Budget Spent</div>
    <div class="item" data-value="task-self-complete">% Task Competed by Me</div>
    <div class="item" data-value="budget-self-spent">% Budget Spent by Me</div>
  </div>
</div>
<div class="ui selection dropdown order-dropdown">
  <div class="default text">Order</div>
  <input type="hidden" name="selected-vital-order" class="task-order-direction">
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="asc">Ascending</div>
    <div class="item" data-value="desc">Descending</div>
  </div>
</div>
<table  class="ui celled table tasks-table">
  <thead>
    <tr>
      <th>Project</th>
      <th class="title">Task</th>
      <th>Description</th>
      <th>Priority</th>
      <th class="due-date">Due Date</th>
      <th class="time-elapsed">% Time Elapsed</th>
      <th class="task-completion">% Task Competed</th>
      <th class="budget-spent">% Budget Spent</th>
      <th class="task-budget-ratio">% Task Completed : % Budget Spent</th>
      <th class="task-self-complete">% Task Competed by Me</th>
      <th class="budget-self-spent">% Budget Spent by Me</th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= render partial: 'tasks/tree', locals: {task: task} %></td>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.priority %></td>
        <td data-sort-value=<%= task.target_finish.try(:to_i) %> >
          <%= task.target_finish.try(:strftime, "%d/%m/%Y") %>
        </td>
        <td><%= number_to_percentage(task.time_elapsed, precision:2) %></td>
        <td><%= number_to_percentage(task.task_completed, precision:2) %></td>
        <td><%= number_to_percentage(task.budget_spent_ratio, precision:2) %></td>
        <td><%= task.task_completed_over_budget_consumed.round(2) %></td>
        <td><%= number_to_percentage(task.task_completed_by_user(current_user.id), precision:2) %></td>
        <td><%= number_to_percentage(task.budget_spent_ratio_by_user(current_user.id), precision:2) %></td>
        <!--<td><%= link_to 'Show', task %></td>-->
        <!--<td><%= link_to 'Edit', edit_task_path(task) %></td>-->
        <!--<td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
