<h1><%= @task.title %></h1>
<div class="ui grid container">
  <div class="row">
    <div class="twelve wide column">
      <div class="row">
        <button id="add_time" class="positive ui button" tabindex="0">
          Add Working Hours
        </button>
        <%=link_to "Close", root_path, class: "btn ui button"%>
        <div class="ui basic label">
          Users
          <div class="detail"><%= @task.users.count %></div>
        </div>
      </div>

      <br>
      <h3>Log Hours</h3>
      <div class="row">
        <table class="ui celled table">
          <thead>
            <th>ID</th>
            <th>amount_hours </th>
            <th>date_worked</th>
            <th>start_time</th>
            <th>progress</th>
            <th>pay_rate</th>
          </thead>
          <tbody>
            <% @task.work_periods.each do |wp| %>
              <tr>
                <td><%= wp.id %></td>
                <td><%= wp.amount_hours.to_f.round(2) %></td>
                <td><%= wp.date_worked.strftime("%Y/%m/%d") %></td>
                <td><%= wp.start_time.strftime("%H:%M:%S") rescue nil %></td>
                <td><%= wp.progress %></td>
                <td><%= wp.pay_rate %></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    </div>

    <div class="four wide column">
      <table class="ui celled table">
        <tbody>
        <tr>
          <td>Budgeted Cost</td>
          <td><%= @task.budgeted_cost %></td>
        </tr>
        <tr>
          <td>Actual Cost</td>
          <td><%= @task.actual_cost %></td>
        </tr>
        <tr>
          <td>Sub Tasks</td>
          <td><%= @task.children_count %></td>
        </tr>
        <tr>
          <td>Start</td>
          <td><%= @task.target_start.to_formatted_s(:short) %></td>
        </tr>
        <tr>
          <td>Finish</td>
          <td><%= @task.target_finish.to_formatted_s(:short) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
    </div>
    <div class="row">
      <div class="two wide column">

      </div>
      <div class="two wide column"></div>
    </div>
  </div>
  <%= render partial: 'tasks/add_time', locals: {task: @task} %>
