<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Target Start:</strong>
  <%= @task.target_start %>
</p>

<p>
  <strong>Actual Start:</strong>
  <%= @task.actual_start %>
</p>

<p>
  <strong>Target finish:</strong>
  <%= @task.target_finish %>
</p>

<p>
  <strong>Actual finish:</strong>
  <%= @task.actual_finish %>
</p>

<p>
  <strong>Budgeted cost:</strong>
  <%= @task.budgeted_cost %>
</p>

<p>
  <strong>Actual cost:</strong>
  <%= @task.actual_cost %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Tree</strong>
  <%= render :partial => "tasks/tree", :locals => {:task => @task} %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
