The hours logged on task "<%= @task.title %>" have been editted by <%= @user.full_name %>

<h4>Edited By </h4>
<%= @user.full_name %>

<h4>Logged Task</h4>
<%= @task.title %>

<h4> New hours that has been set </h4>
<%= @work_period.amount_hours %>