<%= form_for(@cost_type, :html =>{ class: 'ui form'}) do |f| %>
  <% if @cost_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost_type.errors.count, "error") %> prohibited this cost_type from being saved:</h2>

      <ul>
        <% @cost_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost_type %>
    <%= f.text_field :cost_type %>
  </div>

  <div class="field ui">
    <%= f.button :submit %>
  </div>
<% end %>
