<h1>Budget Report for <%= @report_data.flatten_budget_data[0][:title] %></h1>
<%= render 'reports/expenditure_and_index',
  period_start: @report_data.period_start(status=true),
  period_end: @report_data.period_end(status=true),
  total_expenditure: @report_data.total_expenditure

%>
<%= render 'reports/budget_report_by_task',
  budget_data: @report_data.flatten_budget_data[1..-1],
   blue_pallete: ["#0077BE", "#99BADD", "#00B7EB", "#89CFF0", "#E7FEFF"]

%>

<h2>Spending Breakdown by User for <%= @report_data.flatten_budget_data[0][:title]%></h2>

<%= render 'reports/staff_hours', report_data: @report_data.staff_hours_report %>
