<%= simple_form_for(@cost, :html =>{ class: 'ui form'}) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :amount %>
  </div>
  <div class="field">
    <%= f.label :cost_type %>
    <%= f.select :cost_type_id, options_for_select(CostType.all.map{ |ct| [ct.cost_type, ct.id]}) %>
  </div>
  <div class="field">
    <%= f.button :submit %>
  </div>
<% end %>
