<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @cost.amount %>
</p>
<p>
  <strong>Type:</strong>
  <%= @cost.cost_type.cost_type %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
