<% if current_user.xero_account.nil? %>
<div class="ui message">
  <h3>Notice</h3>
  <p>Your TMT account is pending connection to your Xero account.</p>
  <p>Until it has been set up by an administrator, your payslip may not come through correctly.</p>
  <p>Please email HR if it has been a few days since you have signed up and Xero is still not connected.</p>
</div>
<% end %>

<div class="content_container">
  <div class="ui two row stackable grid container">
    <div class="row centered">
      <% unless current_user.role == 'staff' %>
        <button id="add_task" class="ui button fade green popup-control" data-content="Create Task" tabindex="0">
          <div class="visible content">
            <div class="centered"><i class="plus icon"></i></div>
          </div>
          <div class="hidden content centered">Add</div>
        </button>
      <% end %>
      <a class="ui button fade blue popup-control" data-content="Removed Tasks" tabindex="0" href="/removed_tasks">
        <div class="visible content"><i class="recycle icon"></i></div>
        <div class="hidden content centered">Archived Tasks</div>
      </a>
      <!--<button class="ui button animated fade blue" tabindex="0">-->
        <!--<div class="visible content"><i class="time icon"></i></div>-->
        <!--<div class="hidden content centered">Timeline</div>-->
      <!--</button>-->
      <a class="ui button fade yellow popup-control" data-content="Admin" href="/admin/user" tabindex="0">
        <div class="visible content"><i class="users icon"></i></div>
        <div class="hidden content centered">Users</div>
      </a>

      <a class="ui button fade red popup-control" data-content="Reports" href="/reports" tabindex="0">
        <div class="visible content"><i class="time icon"></i></div>
        <div class="hidden content centered">Reports</div>
      </a>
      <a class="ui button fade orange popup-control" data-content="Edit Hours Logged" href="/work_periods" tabindex="0">
        <div class="visible content"><i class="time icon"></i></div>
        <div class="hidden content centered">Hours</div>
      </a>
      <a class="ui button fade black popup-control" data-content="Xero Timesheet" href="/timesheet/current_timesheet" tabindex="0">
        <div class="visible content"><i class="grid layout icon"></i></div>
        <div class="hidden content centered">Current Xero Timesheet</div>
      </a>
    </div>
  </div>
</div>

<div class="ui horizontal divider"></div>

<div class="content_container">
  <h1 id="project_section_title">Projects</h1>
  <div id="project_cards_container">

  </div>
  <div class="ui centered cards" id="">
    <% if @tasks.count == 0 %>
      <h1 id="no_tasks_notification">You have no listed Projects.</h1>
    <% end %>
  </div>
</div>
<div class="">
<%= render 'home/add_project' %>
</div>