<h1> Removed Tasks </h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="collapsing"><%= task.id %></td>
        <td><%= task.title %></td>
        <td class="right aligned collapsing">
          <%= link_to 'Restore Task', recover_task_task_path(task), method: :put, class: 'ui primary small button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>