<%= form_for(@work_period, :html =>{ class: 'ui form'}) do |f| %>
  <% if @work_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_period.errors.count, "error") %> prohibited this work_period from being saved:</h2>

      <ul>
      <% @work_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount_hours %><br>
    <%= f.text_field :amount_hours %>
  </div>
  <div class="field">
    <%= f.label :date_worked %><br>
    <%= f.datetime_select :date_worked %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :task %><br>
    <%= f.select :task_id, options_for_select(Task.all.map{|t|[t.title,t.id]}) %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.select :user_id, options_for_select(User.all.map{|u|[u.email,u.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
