<p id="notice"><%= notice %></p>

<p>
  <strong>Amount hours:</strong>
  <%= @work_period.amount_hours %>
</p>

<p>
  <strong>Date worked:</strong>
  <%= @work_period.date_worked %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @work_period.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work_period.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_period.description %>
</p>
<p>
  <strong>Task:</strong>
  <%= @work_period.task.title%>
</p>

<p>
  <strong>User:</strong>
  <%= @work_period.user.email %>
</p>

<%= link_to 'Edit', edit_work_period_path(@work_period) %> |
<%= link_to 'Back', work_periods_path %>
