

<div class="form-content">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'ui form'}) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <div class="ui checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
      </div>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "ui button" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>