<h1>Spending Breakdown by Staff</h1>
<div class="row col-xs-6">

  <% if request && request.referer %>
    <%= render 'reports/date_expenditure',
      period_start: @report_data.period_start(status=true),
      period_end: @report_data.period_end(status=true),
      total_expenditure: @report_data.total_expenditure
    %>
  <% else %>
    <%= render 'reports/date_expenditure',
      period_start: @report_data.period_start(status=false),
      period_end: @report_data.period_end(status=false),
      total_expenditure: @report_data.total_expenditure
    %>
  <% end%>


</div>

<%= render 'reports/staff_hours', report_data: @report_data %>
