@import 'jquery-ui';
@import 'datetimepicker';
@import 'react-datepicker';
@import 'react-datetime';
@import 'semantic-ui';
@import "alertify";
@import "alertify/default";
@import "alertify/bootstrap";
@import 'common';
@import 'home';
@import 'registration';
@import 'tasks';
@import 'timesheet';

body {
  &.animating.in.dimmable, &.dimmed.dimmable {
    overflow: inherit;
  }

  .hidden {
    display: none;
    visibility: hidden;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

