input.prompt {
  border-radius: 4px!important;
}

.ui.grid > [class*="sixteen wide"].column{
	width:25% !important;
}


.sixteen .ui.input{width:100%;}

.ui.fluid.search .results {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
.ui.button.submit_btn.mg_top13{
  margin-top:13px !important;
}
