.modal.basic .ui.form .field > label {
  color: white;
}

#no_tasks_notification {
  color: lightgrey;
  display: block;
  margin-top: 50px;
}

.inline {
  display: inline-block;
}

.text_color_red {
    color: red
}

.task_view_overflow {
    height: 75vh;
    overflow-y: scroll;
    float: left
}

.new_task {
  .ui.form textarea:not([rows]) {
    height: 2em;
    min-height: 5em;
    max-height: 24em;
  }
}

#task_view_wrapper {
  .branch-row-filters {
    .branch-filter {
      .prompt {
        border-radius: 4px!important;
      }
    }
  }
}

.task-view {
  height: 450px;
  .header {
    .delete-task {
      float: right;
    }
  }

  .task-modal-content {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    #taskcard-flow{
      .task-card {
        width: 44%;
        position: fixed;

        b {
          font-weight: normal;
          text-decoration: underline;
          display: inline-block;
          margin-right: 5px;
        }

        .task-title {
          margin-right: 110px;
          line-height: 40px!important;
          font-weight: bold;
          margin-bottom: 0;
          display: block;
        }

        .log-hour-btn {
          position: absolute;
          width: 106px;
          right: 7px;
          top: 7px;
        }

        .task-value {
          font-weight: bold;
        }

        .task-description-label {
          display: block;
        }
        .pay-item {
          margin-top: 5px;
          .task-pay-item {
            .scrolling.menu {
              max-height: 195px !important;
            }
          }
        }

        .task-parent-task, .task-pay-item {
          display: inline-block;

          input.prompt {
            border-radius: 5px;
          }
        }

        .datepicker-wrapper {
          display: inline-block;
        }
      }
    }
  }

  .ui.grid .column + .ui.vertical.divider {
    height: calc(39% - 11px );
  }

  .ui.list > .item {
    .icon {
      position: relative;
      .task-level {
        position: absolute;
        right: 25px;
        font-weight: bold;
      }
    }
    .content {
      &.selected-task {
        & > a.header {
          color: red !important;
        }

        & > .description {
          .task-owner, .task-owner label {
            color: red;
          }

          .members {
            .member {
              color: red;
            }
            .add-member-btn {
              color: red;
            }
          }

          .escalation-manager, .escalation-manager label {
            color: red;
          }
        }
      }

      & > a.header {
        color: black !important;
      }

      & > .description {
        .task-owner, .task-owner label, .escalation-manager, .escalation-manager label {
          text-decoration: underline;
        }
      }
    }
  }
}

.tree-view {
  .task-owner, .escalation-manager {
    label {
      text-decoration: underline;
    }
  }
}

.cd-top {
  position:fixed;

  &.cd-is-visible {
    visibility: visible;
    opacity: 1;
  }
  &.cd-fade-out {
    opacity: .5;
  }
}
.paginate_center{width:100%; float:left; text-align:center;margin-top: 30px;}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.task-owner .ui.fluid.dropdown{display:inline-block;}