// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



i.tasks.icon.remve_dsp_tblcll {
    display: inline-block!important;
    float: left;
}
.ui.list > .item > .icon + .content.remv_padd {
    padding: 0 0 0 18px !important;
    display: block !important;
    width: 100%;
}

.content.remv_padd{
  padding-left:18px;
  display: block !important;
  width: 100%;
}


#time_submission_form {
  padding: 25px;
}

.undetached.dimmable.dimmed.scrolling > .dimmer {
  overflow: auto !important;
}

.new_task {
  width: 500px !important;
}
input.inpt_widt{
	width:20%;
	margin-right:18px;
}
#main{
 width: 262px;
    display: flex;
    align-items: center;
}

#main div {
   flex: 1;
}
span.date_view{
	float:left;
	margin-right:10px;
  margin-bottom: 5px;
}
.ui.card.task-card.task_view_overflow.width_task_card {
   width: 39% !important;
}

.main_task_col{
	width:100% !important;
	float:left;
  margin-bottom: 11px;
}
.for_seprte {
    margin-top: -7px;
    width: 57% !important;
    float: right;
    position:relative;
}
.time_col {
    width: 34% !important;
    flex: 0 !important;
    margin-right: 7px;
    position: relative;
}
.time_col > p >input{
	width: 100% !important;
}
input.ipt_width {
    width: 100%;
}
p.ui.basic.red.pointing.prompt.label.transition.visible.fix_inpt{
  position: absolute;
  bottom: 0;
  top: 100%;
  left: 0;
  padding: 10px 6px 33px;
  background: #fff;
  z-index: 9;
  width: 100%;
  font-size: 13px;
  }

input.ipt_width.datepicker{
  width: 50%
}
.task-owner{color: red;}
.escalation-manager{color:red;}
.member{color:red;}
.add-member-btn{color:red}
a.add-member-btn{color:red;}
input.ipt_marg {
    margin-top: 17px;
}
.ui.list .list > .item a.header.task_view, .ui.list > .item a.header.task_view{
  color: rgba(0, 0, 0, 0.87) !important;
}
.stackable{width:100%;margin-left:0;margin-right:0;}
.stackable .task-level{float:left;margin-right:5px;}
.ui.button.delete-task{float:right;margin-bottom:15px;}
.delete-task a{color:#fff;}
.stackable .ui.card.task-card.task_view_overflow.width_task_card{
  width:100% !important;
}

.actions{float: right;margin: 25px;}
a.header.task_view.active_red{
  color:red important;
}
.ui[class*="very relaxed"].grid > .column.pad_lf6:not(.row){padding-left:6px;padding-right:6px;}
.ui.button.submit_btn{
    max-width: 100px;
    margin-top:47px;
    padding: 10px 17px;
  background-color: #21BA45
}
.ui[class*="very relaxed"].grid > .column.pad_lf6:not(.row){padding-left:6px;padding-right:6px;}
.ui.button.submit_btn:hover{background-color: #21BA45;}
input#submit{color: white;}
.ui[class*="two column"].grid > .row > .column.mkting_col, .ui[class*="two column"].grid > .column.mkting_col:not(.row){
  width:36%;
  padding-left:0;
}
.ui[class*="two column"].grid > .row > .column.task_info_col, .ui[class*="two column"].grid > .column.task_info_col:not(.row){
     width: 64%;
    border: 1px solid #ddd;
    margin-top: 12px;
    border-radius: 4px;
        overflow-y: scroll;
    height: 75vh;
}
.ui.card .content.lft_flxgrw {
    flex-grow: inherit;
}
.mtop40{
  margin-top:40px;
}
.ui[class*="very relaxed"].grid.task_grid{
  width:100%;
  display:inline-block;
  margin:0;
}
p.ui.basic.red.pointing.prompt.label.transition.visible.date_valid{position: absolute;
right: 185px;
top: 24px;}
ul.pagination.cursr_pointr {cursor:pointer;}
.ui.card .cstm_card_cntnt{
  padding:1em 0em 1em 1em;
}
p.ui.basic.red.pointing.prompt.label.transition.visible.fix_inpt {
    border-radius: 0px;
}
