<h1>List Users</h1>

<table  class="ui celled table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email </th>
        <th>Target finish</th>
        <th>Estimated finish</th>
        <th>Actual finish</th>
        <th>Budgeted cost</th>
        <th>Actual cost</th>
        <th>Priority</th>
        <th>Tree</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |u| %>
    <tr>
        <td><%= u. %></td>
        <td><%= task.description %></td>
        <td><%= task.start %></td>
        <td><%= task.target_finish %></td>
        <td><%= task.estimated_finish %></td>
        <td><%= task.actual_finish %></td>
        <td><%= task.budgeted_cost %></td>
        <td><%= task.actual_cost %></td>
        <td><%= task.priority %></td>
        <td><%= render partial: 'tasks/tree', locals: {task: task} %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    </tbody>
</table>

<%= render "devise/shared/links" %>
