<div class = "row col-xs-12">
<table class = "table table-bordered">
  <thead>
    <tr>
      <th style="width: 55% !important;"></th>
      <th class = "budget_report_cell">&#916; Hours</th>
      <th class = "budget_report_cell">&#916; Spend</th>
      <th class = "budget_report_cell">&#916; Spend this week</th>
      <th class = "budget_report_cell">&#931; Hours</th>
      <th class = "budget_report_cell">&#931; Spend</th>
      <th class = "budget_report_cell">$ BR</th>
      <th class = "budget_report_cell">% TC</th>
      <th class = "budget_report_cell">% BU</th>
      <th class = "budget_report_cell ">% TE</th>
      <th class = "budget_report_cell">TC : BU</th>
      <th class = "budget_report_cell">TC : TE</th>
    </tr>
  </thead>
  <tbody style = "font-size: 12px;">
    <% budget_data.each do |task|%>
      <% if task[:percent_tc].nil? %>
        <% task[:percent_tc] = 0 %>
      <% end %>
      <tr>
        <td class = "<%= 'success' if task[:new_task] %> <%= 'text-danger' if task[:removed]%>">
          <% for i in 0...task[:level]*4%>
            <span>&nbsp;</span>
          <% end %>
            <%= task[:title] %>
        </td>
        <td><%= number_with_precision(task[:delta_hours], precision: 1) %></td>
        <td style = "background-color: <%= blue_pallete[task[:level]]%>;"><%= task[:delta_cost] == 0? "--":number_to_currency(task[:delta_cost], precision: 0) %></td>
        <td><%= task[:delta_week_cost] == 0? "--":number_to_currency(task[:delta_week_cost], precision: 0) %></td>
        <td><%= number_with_precision(task[:total_hours], precision: 1) %></td>
        <td class = "<%= 'active' if task[:total_spending] > 0 %>"><%= number_to_currency(task[:total_spending], precision: 0) %></td>
        <td><%= number_to_currency(task[:budget_remaining],precision: 0 )%></td>
        <td><%= number_to_percentage(task[:percent_tc], precision: 0) %></td>
        <td><%= number_to_percentage(task[:percent_bu], precision: 0) %></td>
        <td><%= number_to_percentage(task[:percent_te], precision: 0) %></td>
        <td class = "<%= 'warning' if (task[:percent_bu] > 0) && ((task[:percent_tc] / task[:percent_bu]) < 0.8) %>"><%= task[:percent_bu] == 0? "N/A":number_with_precision(task[:percent_tc]/task[:percent_bu], precision: 2) %></td>
        <td class = "<%= 'danger' if (((task[:percent_tc] / task[:percent_te]) < 0.8) && task[:colour_tcte])%>"><%= number_with_precision(task[:percent_tc]/task[:percent_te], precision: 2)%></td>
      <tr>
    <% end %>
  </tbody>
</table>
</div>
