<table class="table table-bordered">
  <tr>
    <th>Period Starting</th>
    <td><%= period_start unless period_start.nil? %></td>
  </tr>
  <tr>
    <th>Period Ending</th>
    <td><%= period_end unless period_end.nil? %></td>
  </tr>
  <tr>
    <th>Period Length</th>
    <td><%= distance_of_time_in_words(period_start, period_end) %></td>
  </tr>
  <tr>
    <th>Total Expenditure</th>
    <td><%= number_to_currency total_expenditure %></td>
  </tr>
</table>
