<div class="row">
  <div class="col-xs-4">
    <%= render 'reports/date_expenditure',
      period_start: period_start,
      period_end: period_end,
      total_expenditure: total_expenditure
    %>
  </div>

  <div class = "col-xs-8">
  	<table class = "table table-bordered" style = "font-size: 12px;">
  	 	<tr>
        <td>&#916; Hours</td>
        <td>Change in hours logged today</td>
        <td>$ BR</td>
        <td>Budget remaining</td>
        <td>% TE</td>
        <td>Time elapsed percentage</td>
      </tr>
      <tr>
        <td>&#916; Spend</td>
        <td>Change in spending today</td>
        <td>% TC</td>
        <td>Task completed percentage</td>
        <td class = "success"></td>
        <td>New task created this period</td>
      </tr>
      <tr>
        <td>&#931; Spend</td>
        <td>Total Spending</td>
        <td>% BU</td>
        <td>Budget used percentage</td>
        <td></td>
        <td class="text-danger">Archived Task</td>
      </tr>

  	 </table>
  </div>
</div>