<div class="row col-xs-push-1 col-xs-10">
  <div class="clearfix"></div>
  <small>(^ indicates some work periods contain backlogged hours)</small>
  <% report_data.pay_data.each do |user| %>
    <table class="table">
      <thead>
        <tr>
          <th colspan=4>
            <%= user[:name] %>
          </th>
        </tr>

        <tr class="pad-left-right">
          <th style="width: 55% !important;padding: 8px 0px 8px 18px !important;">Task</th>
          <th style="width: 15% !important;">Pay Rate</th>
          <th style="width: 15% !important;">&#916; Hours</th>
          <th style="width: 15% !important;">&#916; Spending</th>
        </tr>
      </thead>
      <tbody>
        <% user[:pay_items].each do |task| %>
          <tr class="pad-left-right head_color">
            <td><%= task[:name] %></td>
            <td><%= task[:pay_rate] %></td>
            <td><%= number_to_hours task[:hours] %><%= '^' if task[:backlogged] %></td>
            <td><%= number_to_currency task[:total_spend] %></td>
          </tr>
          <% task[:descriptions].each_with_index do |description, index|  %>
            <% if (index%2==0) %>
              <%row_color= "row_color1" %>
            <%else%>
              <%row_color= "row_color2" %>
            <%end%>

            <tr class="border_none <%=row_color%>">
              <td>
                <em>
                  <small>
                    <%= index+1 %>.
                    <%= description.present? ? description : "NA" %>
                    <%= "(#{task[:individual_hours][index].present? ? task[:individual_hours][index] : ""})"%>
                  </small>
               </em>
              </td>
              <td></td>
              <td>
                <em>
                  <small>
                    <%= task[:individual_hours][index].present? ? task[:individual_hours][index] : "NA" %>
                  </small>
                </em>
              </td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
                
        <tr class="pad-tol">
          <th style="padding: 8px 0px 8px 18px;">Total</th>
          <th style="padding: 8px 0px 8px 18px;"></th>
          <th style="padding: 8px 0px 8px 18px;"><%= user[:total_hours] %></th>
          <th style="padding: 8px 0px 8px 18px;"><%= number_to_currency user[:total_spend] %></th>
        </tr>
      </tbody>
    </table>
    <div class="clearfix"></div>
  <% end %>
</div>
