<h2>Staff Logged Hours Report</h2>
<%= form_tag reports_export_hours_logged_by_staff_path(format: :csv), class: 'ui equal width form content staff-report-form', method: :get do %>
  <div class="field">
    <%= label_tag :user_id, 'Staff' %>
    <% if current_user.manager? %>
      <%= select_tag :user_id, options_for_select(user_options), class: 'ui search dropdown' %>
    <% else %>
      <%= current_user.full_name %>
      <%= hidden_field_tag :user_id, current_user.id%>
    <% end %>
  </div>
  <div class="fields">
    <div class="field">
      <%= label_tag :start_date %>
      <%= text_field_tag :start_date, nil, class: 'datepicker' %>
    </div>
    <div class="field">
      <%= label_tag :end_date %>
      <%= text_field_tag :end_date, nil, class: 'datepicker' %>
    </div>
  </div>

  <div class="actions">
    <%= button_tag "Generate", type: 'submit', class: 'ui button' %>
  </div>
<% end %>
