<!DOCTYPE html>
<html>
<head>
  <title>TM Tool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= sentry_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui container">

<p class="navbar-text pull-right">

  <div class="ui large top menu">
    <div class="header item <%= ('active' if controller_name == 'home') %>">
      <%= link_to "Projectool", root_path, class: 'ui_button' %>
    </div>
    <div class="right menu">
      <div class="ui action left icon input">
        <% if user_signed_in? %>
            <div class="item"> <p>Welcome <b><%= current_user.first_name %></b></p></div>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'ui button' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'ui button' %>
        <% else %>
            <%= link_to 'Login', new_user_session_path, {:class=> 'ui button '}%>
            <%= link_to 'Sign Up', new_user_registration_path, {:class => 'ui button'}%>

        <% end %>
      </div>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= alertify_flash %>
</body>
</html>
