<!-- Layout used for PDF generation -->
<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf/pdf" -%>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>